.popup__container_add-new-place {
  min-height: 258px;
  padding: 30px 20px;
}

@media screen and (min-width: 620px) {
  .popup__container_add-new-place {
    width: 430px;
    padding: 34px 36px 36px;
  }
}
