.form__button-submit {
  padding: 0;
  margin: 30px 0 0;
  width: 100%;
  border-radius: 2px;
  background-color: black;
  color: white;
  border: none;
  height: 46px;
  transition: background-color .5s;
}

.form__button-submit:focus {
  outline: none;
}

@media screen and (min-width: 620px) {
  .form__button-submit {
    height: 50px;
    margin: 32px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .form__button-submit:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
  }
}
