.card__button-delete {
  background-image: url('../../../images/trash.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  transition: opacity .2s;
  z-index: 1;
}

.card__button-delete:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .card__button-delete:hover {
    opacity: .6;
    cursor: pointer;
  }
}
