.profile__button-add {
  height: 50px;
  width: 282px;
  background-color: black;
  border: 2px solid white;
  border-radius: 2px;
  margin: 36px auto 0;
  background-image: url('../../../images/plus.svg');
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  transition: opacity .2s;
}

.profile__button-add:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .profile__button-add {
    margin: 35px 0 35px auto;
    width: 150px;
    height: 50px;
    background-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__button-add:hover {
    opacity: .6;
    cursor: pointer;
  }
}
