.popup__container_tip {
  min-width: 280px;
  min-height: 308px;
  padding: 0;
  margin-top: 130px;
}

@media screen and (min-width: 620px) {
  .popup__container_tip {
    margin-top: 195px;
    min-height: 330px;
  }
}
