.popup__button-close_tip {
  background-size: 30px;
  right: calc(50% - 19px);
  top: -61px;
}

@media screen and (min-width: 620px) {
  .popup__button-close_tip {
    background-size: 40px;
    right: -49px;
    top: -49px;
  }
}
