.link {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.link:active {
  -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 1024px) {
  .link:hover {
    opacity: .6;
    transition: opacity .3s;
    cursor: pointer;
  }
}
